@media only screen and (max-width: 830px) {

  /****************************images-classes*************************/

  .b-cloud-img {
    left: 20px;
    width: 100px;
    padding-top: 20px;
  }

  .t-cloud-img {
    right: 20px;
    width: 100px;
    padding-top: 20px;
  }

  .mountain-img {
    padding-top: 0;
    height: 300px;
    width: 100%;
  }

  .profile-img {
    padding-top: 100px;
    width: 250px;
    height: 50%;
  }

  .code1-img, .code2-img {
    padding-right: 0;
    padding-bottom: 0;
    width: 12em;
    float: none;
    margin-bottom: 30px;
  }


  /****************************Container-classes*************************/

  .top-container-2 {
    height: 300px;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .profile {
    padding-top: 0px;
  }

  .skill1 {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .skill2 {
    width: 100%;
    padding-top: 0px;
    margin: 0;
    text-align: center;
  }

  .bottom-container {
    height: 150px;
  }

  .hr1 {
    padding-top: 16px;
    padding-bottom: 30px;
  }

  .hr2 {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  /****************************Heading-classes*************************/

  h1 {
    width: 100%;
    margin: 0px auto;
    padding-top: 60px;
    font-size: 3rem];
  }

  h2, .h3 {
    width: 100%;
  }

  h3 {
    width: 70%;
    margin: 30px auto;
  }

  .developer-txt {
    margin-bottom: 0;
  }

  /****************************Paragraph-classes*************************/

  .p1, .p3 {
    width: 90%;
  }

  .p2 {
    width: 85%;
  }
}
